/* Сделали стики футер */
.main {
    display: flex;
    flex-grow: 1;
}

/* Стили для шапки проекта */
.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 24px 96px;
    height: 293px;
    width: 100%;
}

.header__menu {
    margin: 39px 30px 39px 26px;
}

.header__links-list {
    display: flex;
    gap: 32px;
    font-size: 18px;
    text-underline-offset: 4px;
}

.header__links-list-item {
    list-style: circle;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__logo {
    display: block;
    place-content: center;
}

.header__logo-image {
    width: 148px;
    height: 105px;
}

.header__adress {
    margin: 3px 25px 3px 187px;
    line-height: 1.36;
    max-width: 240px;
    min-height: 98px;
    text-underline-offset: 4px;
}

.header-link {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.01em;
}

.header-link_active {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.01em;
    text-decoration: none;
}

/* Стили для футера проекта */
.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    padding: 180px 50px 88px;
    height: 366px;
    width: 100%;
}

.footer__menu {
    display: flex;
    justify-content: center;
    text-align: center;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    text-underline-offset: 4px;
}

.footer__menu-list-item {
    list-style: none;
}

.footer__social-list {
    display: flex;
    justify-self: end;
    width: 240px;
    height: 48px;
    gap: 48px;
}

.footer__social-list-item {
    list-style: none;
}

.adress {
    line-height: 1.36;
    max-width: 240px;
    min-height: 98px;
    text-underline-offset: 4px;
}