.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 24px 96px;
    height: 293px;
    width: 100%;
}

.header__menu {
    margin: 39px 30px 39px 26px;
}

.header__links-list {
    display: flex;
    gap: 32px;
    font-size: 18px;
    text-underline-offset: 4px;
}

.header__links-list-item {
    list-style: circle;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__logo {
    display: block;
    place-content: center;
}

.header__logo-image {
    width: 148px;
    height: 105px;
}

.header_adress {
    margin: 3px 25px 3px 187px;
    line-height: 1.36;
    max-width: 240px;
    min-height: 98px;
    text-underline-offset: 4px;
}

.header-link {
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.01em;
}

.header-link_active {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.01em;
}